<%= simple_form_for(@ticket, html: {class: 'form-horizontal' }) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :tutor_id , :collection => @tutors, :label_method => :first_name,
				:value_method => :id,:label => "Tutor Name" , :include_blank => false %>
  <%= f.input :session_type, :collection => @session_options, :include_blank => false %>
  <%= f.input :student_id, label: "Student ID" %><br>
  <%= f.input :student %><br>
  <%= f.input :instructor_id , :collection => @instructors, :label_method => :first_name,
				:value_method => :id,:label => "Instructor Name" , :include_blank => false %>
  <%= f.input :course_id %><br>
  <%= f.input :notes , :as => :text %><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
